.bg{
    background-color:cornflowerblue;
    height: 200px;
}
h1{
    text-align: center;
    padding-top: 40px;;
    font-size: 80px;
    color: aliceblue;
    
}
img{
    height: 250px;
}
.i2{
    margin-left: 350px;
    margin-top: 50px;
}